<section>
  <div class="left">
    <div class="box-inputs">
      <p class="label cost">Costo</p>
      <input class="input-number cost" type="number" name="" id="" [(ngModel)]="costoIngreso" />
      <p class="label desc">Descuento</p>
      <input class="input-number desc" type="number" name="" id="" [(ngModel)]="descIngreso" />
    </div>
    <button class="add-btn" (click)="addValues()">Agregar</button>
  </div>
  <div class="right">
    <header>
      <div class="moment">
        <span>{{ currentDate }}</span>
        <span>{{ currentHour }}</span>
      </div>
      <h2>Supermercado S.A.</h2>
    </header>
    <div class="empty" *ngIf="ticket.length == 0">Ingresar algún valor</div>
    <ng-container *ngIf="ticket.length > 0">
      <div class="line" *ngFor="let item of ticket, let i = index">
        <div class="value">
          <span>Valor</span>
          <h2>{{ item.valor.toFixed(2) }}</h2>
        </div>
        <div class="desc">
          <span>Descuento</span>
          <p>- {{ item.desc.toFixed(2) }}</p>
        </div>
        <div class="delete" title="Eliminar" (click)="deleteElement(i)">
            <img src="assets/img/cross.svg" alt="">
        </div>
      </div>
    </ng-container>
    <div class="total">$ {{ total.toFixed(2) }}</div>
  </div>
</section>
