<p>suma-ticket works!</p>

<h1>Ticket</h1>

<section>
  <div class="left">
    <input type="number" name="" id="" [(ngModel)]="costoIngreso" />
    <p></p>
    <input type="number" name="" id="" [(ngModel)]="descIngreso" />
    <p></p>
    <button (click)="addValues()">Agregar</button>
  </div>
  <div class="right">
    <div class="empty" *ngIf="ticket.length == 0">Ingresar algún valor</div>
    <ng-container *ngIf="ticket.length > 0">
      <div class="line" *ngFor="let item of ticket, let i = index">
        <div class="value">
          <span>Valor</span>
          <h2>{{ item.valor.toFixed(2) }}</h2>
        </div>
        <div class="desc">
          <span>Descuento</span>
          <p>- {{ item.desc.toFixed(2) }}</p>
        </div>
        <div class="delete" title="Eliminar" (click)="deleteElement(i)">
            <img src="/assets/img/cross.svg" alt="">
        </div>
      </div>
    </ng-container>
    <div class="total">$ {{ total.toFixed(2) }}</div>
  </div>
</section>
