section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10rem;
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20vh;

  .left {
    width: 70%;
    padding: 1rem;
    margin-right: 3rem;
    border: 1px solid #d1d1d1;
    border-radius: 10px;

    .box-inputs {
      width: max-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .label {
        font-size: .8rem;
        margin-bottom: 2px;
        color: rgb(107, 107, 107);

        &.desc {
          color: rgb(153, 153, 153);
          font-size: .65rem;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      .input-number {
        width: 7rem;
        height: 3rem;
        border-radius: 10px;
        text-align: center;
        outline: none;
        border: 1px solid #d1d1d1;
        font-size: 1.2rem;

        &.desc {
          height: 2rem;
          font-size: 1rem;
          color: rgb(73, 73, 73);
        }
      }
    }

    .add-btn {
      display: block;
      border: none;
      background-color: #e41c1c;
      border-radius: 10px;
      font-weight: 600;
      color: #FFF;
      text-align: center;
      padding: 1rem 0;
      width: 10rem;
      margin: 1.52rem auto 0 auto;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .right {
    width: 30%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    padding: 4rem 1.5rem;
    margin-left: 3rem;

    header {
      font-family: 'Roboto Mono', monospace;

      .moment {
        display: flex;
        justify-content: space-between;
      }

      h2 {
        font-weight: 400;
        font-size: 1.1rem;
        border-bottom: 1px dashed;
        padding-bottom: 1rem;
      }
    }

    .line {
      padding: 1.3rem 3rem 1.1rem 0rem;
      border-bottom: 1px dashed #dadada;
      position: relative;
      font-family: 'Roboto Mono', monospace;

      &:last-child {
        border-bottom: none;
      }

      &:hover{
        background-color: #f7f7f777;
      }

      h2,
      p {
        margin: 0;
      }

      .value {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 0.9rem;
          font-weight: 400;
        }

        h2 {
          font-size: 1.3rem;
          font-weight: 600;
        }
      }

      .desc {
        display: flex;
        justify-content: space-between;
        color: #999999;

        span {
          font-size: 0.8rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .delete {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #000;
        cursor: pointer;
        position: absolute;
        right: 0rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
          opacity: 1;
        }

        img {
          width: 70%;
        }
      }
    }

    .empty {
      width: 100%;
      border: 1px dashed #d1d1d1;
      color: #adadad;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Courier New", Courier, monospace;
      margin-bottom: 1rem;
    }

    .total {
      color: #000;
      border-top: 1px dashed #333;
      font-weight: 600;
      font-size: 1.8rem;
      padding: 1.5rem 1rem 0 0;
      text-align: right;
      font-family: "Courier New", Courier, monospace;
    }
  }
}

@media(max-width: 992px) {
  section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    .left {
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      margin-bottom: 3rem;
      margin-top: 3rem;

      .box-inputs{
        width: 100%;

        .input-number{
          width: 100%;
        }
      }

      .add-btn{
        width: 100%;
      }
    }

    .right {
      min-width: initial;
      box-sizing: border-box;
      width: 100%;
      margin: 0;

      header{
        .moment{
          span{
            font-size: .8rem;
          }
        }
        h2{
          font-size: .9rem;
        }
      }

      .line{
        .value{
          h2{
            font-size: 1.1rem;
          }
        }
      }

      .total{
        font-size: 1.5rem;
      }
    }
  }
}
