input[type=number]{
    width: 4rem;
    height: 2rem;
}

.result{
    border: 1px solid #333;
    font-size: 1.8rem;
    height: 3rem;
    width: max-content;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}